RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^Home index.php [NC,L]
RewriteRule ^content/([0-9a-zA-Z_-]+) content?read=$1 [NC,L]
